.idea/**
*.pyc
*.ipynb
*.csv
.vscode/**
src/category_encoders/
src/shap/
libs/
data/samples
data/train_input
data/train_output
data/predict_input
data/predict_output
data/keys
src/BasePath.py
data/fc
data/gc
**.ipynb_checkpoints/**
